.cart-summary-con {
  padding: 10px;
}

.total {
  color: #616e7c;
  font-size: 18px;
  margin: 0;
}

.total-amount {
  color: #171f46;
  font-size: 20px;
  margin: 0;
}

.cart-count {
  font-size: 15px;
  color: #616e7c;
  margin-bottom: 16px;
}

.checkout-btn {
  color: #ffffff;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  border: none;
  background-color: #0b69ff;
  border-radius: 8px;
}
